
/* CONTACT */

.date-contact address{
	margin-bottom: 0;
} 

.date-contact abbr strong{
	font-size: 16px;
}

.date-contact .col_half{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;    
}

.date-contact .col_one_third {
    width: 33.63%;
    margin-top: 2em;
}

.contact-title{
	margin-bottom: 0;
}

.date-contact .servicios-asesoramiento{
    display: flex;
    justify-content: center;
    margin-top: 4em;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    padding: 5px 0;
}

.date-contact .servicios-asesoramiento p{
	margin: 0;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.date-contact .subcribite{
	display: flex;
	justify-content: center;
    margin-top: 4em;	

}